* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  padding: 15px 40px;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

nav h1 {
  color: #e50914;
}

/* HERO */
/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 100px 60px 50px;
  background: 
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url('images/bg.jpg') center/cover no-repeat;
  flex-wrap: wrap;
}

.hero-video {
  flex: 1;
  max-width: 520px;
}

.side-video {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.hero-content {
  flex: 1;
  max-width: 420px;
}

.hero-content h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ddd;
}

.btn {
  padding: 10px 20px;
  background: #e50914;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* SECTION */
.section {
  padding: 60px 40px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.card {
  min-width: 200px;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.coming-soon-card {
  opacity: 0.85;
}

.coming-soon-card::after {
  content: "COMING SOON";
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(229, 9, 20, 0.9);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}

.modal-content {
  background: #111;
  padding: 25px;
  border-radius: 14px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.modal-video {
  width: 100%;
  max-height: 380px;
  border-radius: 12px;
  margin-bottom: 20px;
  object-fit: cover;
}

.modal-content h2 {
  color: #e50914;
  margin-bottom: 10px;
}

.modal-content p {
  color: #ddd;
  line-height: 1.6;
}

.close {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 22px;
  cursor: pointer;
  color: white;
}

/* LOVE LETTER */
.love-letter {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* MUSIC */
.music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #e50914;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
